<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>OP Universe</title>
</head>
<body>
  <h1>ONE PIECE UNIVERSE</h1>
  <form action="/addChar" method="POST">
    <input type="text" placeholder="Character Name" name="charName">
    <input type="text" placeholder="Character Age" name="charAge">
    <input type="text" placeholder="Type or Haki" name="type">
    <input type="text" placeholder="Image URL" name="imgURL">
    <input type="submit">
  </form>
  <script src="/static/main.js"></script>
</body>
</html>